{% extends 'base.html' %}

{% block content%}

<h1>Welcome to our Simple Calculator!</h1>

<div>

        
<form method="POST">

    <div>
        <label for="number1">X:</label>
        <input type="number" step="any" id="number1" name="n1" placeholder="Enter your first value"
            required="" style="width:fit-content">
    </div>
    <div>
        <label for="number2">Y:</label>
        <input type="number" id="number2" name="n2" placeholder="Enter your second value"
            required="" style="width:fit-content">
    </div>
    <div>
        <div>
            <button type="reset">Clear</button>
        </div>
        <hr>
        {% for number in range(1,4)%}
        <button type="submit"> {{number}} </button>
        {% endfor %}
<br>

{% for number in range(4,7)%}
<button type="submit"> {{number}} </button>
{% endfor %}
<br>

{% for number in range(7,10)%}
<button type="submit"> {{number}} </button>
{% endfor %}
<br>
<button style="width:78px;" type="submit"> 0 </button>
<br>
<br>
        {% for button in buttons%}
        <button formaction="{{button.action}}" type="submit"> {{button.title}}</button>
        {% endfor %}
    </div>
    
</form>
</div>

{% endblock %}